instruction.sh
proguard-project.txt
.arcconfig
.DS_Store
/.gradle/
/.idea/
/.svn/
*.iml
/build/
/out/
/gen/
.classpath
.project
.settings/
bin/
gradlew
gradlew.bat
/gradle/
OneKeyShare/build/
local.properties
